{% extends "base.html" %}
{% block title %}Matt's Website{% endblock %}
{% block content %}
<form action="#" method="post">
    <h1>Covid Simulator</h1>
    <p><label for="p">Chance of spreading infection (0-1):</label>
    <input type="number" name="p" step=".01" min="0" max="1"/></p>
    <p><label for="q">Chance of someone contagious becoming non-contagious (0-1):</label>
    <input type="number" name="q" step=".01" min="0" max="1"/></p>
    <p><label for="r">Chance of someone moving a square (0-1):</label>
    <input type="number" name="r" step=".01" min="0" max="1"/></p>
    <p><label for="infected">Proportion of squares that are infected people (0-1):</label>
    <input type="number" name="infected" step=".01" min="0" max="1"/></p>
    <p><label for="non-infected">Proportion of squares that are non-infected people (0-1):</label>
    <input type="number" name="non-infected" step=".01" min="0" max="1"/></p>
    <p><label for="grid-size">Grid-size (50-400):</label>
    <input type="number" name="grid-size" min="50" max="400"/></p>
    <input type="submit" value="Submit"/>
</form>
<h1>About this form:</h1>
<p>This is an example of <a href="https://en.wikipedia.org/wiki/Agent-based_model">agent-based modeling.</a>
I made this as a quick extra-credit homework exercise for bioinf 529 and made a gui for it in the form of this website.</p>
{% endblock %}